.button {
    width: 15%;
    min-width: 48px;
    min-height: 48px;
    //color: $button-textcolor-dark;
    border: 2px solid $textbox-bordercolor;
    border-radius: 10px;
    // typically not good, needed to see if the focus is on 
    // the button
    outline: none;
}


.button:hover {
    // where cursor changes from the arrow to little pointing hand
    cursor: pointer;
}

.button:hover,
.button:focus {
    filter: birghtness(120%);
    box-shadow: 4px 2px 5px #000;
}